<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrador.androidmvp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".main.MainActivity" />
        <activity android:name=".recoveryPass.RecoveryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".splashScreen.SplashActivity"
            android:theme="@style/AppThemeSplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>